body{
	background: gray;
	position: relative;
	z-index: -3;

}
.container{
	max-width: var(--c-w);
	padding: var(--p);
	margin: 0 auto;
}
.header{
	background:linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%);
	position: relative;
	height: 940px;
	z-index: -2;
	overflow: hidden;
}
.header::after{
	content: "";
	background: url(../img/Vector.svg) center bottom/cover no-repeat	;
	width: 100%;
	height: 20%;
	inset: auto auto 0 0;
	position: absolute;
	z-index: 2;
}
.container__right{
	padding-left:  calc((100% - var(--c-w))/2);
}
.nav {
	height: 80px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	color: #FFFFFF;
	position: relative;
	z-index: 2;
}
.logo__text {
	display: inline-block;
	text-align: start;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}
.logo__link:hover{
	font-size: 21px;
}
.logo__link {
	transition: font-size .3s linear 0.05s;
}
.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__list__link {
	font-size: 15px;
	font-weight: 500;
	line-height: 1.5;
}
.header__list__link__active{
	display: block;
	position: relative;
}

.header__list__link__active::after{
	content: "";
	box-sizing: content-box;
	position: absolute;
	inset: auto auto -3px 0;
	min-width: 0px;
	height: 3px;
	padding-right: 25px;
	background-color: #fff;
	border-start-end-radius: 1.5px;
	border-end-end-radius: 1.5px;
}
.active__item{
	box-sizing: content-box;
	width: 0px;
	height: 3px;
	padding-right: 0;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
	border-start-end-radius: 1.5px;
	border-end-end-radius: 1.5px;
	transition: padding-right .2s linear 0.05s;
	position: relative;
	z-index: 3;
}
.header__list__link:hover + div.active__item{
	padding-right: 25px;
	position: relative;
}
.header__list__btn {
	display: flex;
	justify-content: end;
	align-items: center;
}
.header__btn {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.5;
	padding: 10px 40px;
	border-radius: 100px;
	white-space: nowrap;
	
}
.header__btn2{
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.header__list__btn__item{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.active__item__btn1{
	display: block;
	box-sizing: content-box;
	width: 0px;
	height: 3px;
	background: #fff;
	transition: padding .2s linear 0.077s, border-top-left-radius .1s linear 0.077s, border-top-right-radius .1s linear 0.077s;
	position: relative;
	top: -4px;
	border-radius: 1.5px;
	z-index: 3;
	border-radius: 10px;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.header__btn:hover + div.active__item__btn{
	padding: 0 30px;
	border-top-left-radius: 300%;
	border-top-right-radius: 300%;

}
.active__item__btn2{
	display: block;
	box-sizing: content-box;
	width: 0px;
	height: 3px;
	background: #fff;
	transition: padding .2s linear 0.077s, border-top-left-radius .1s linear 0.077s, border-top-right-radius .1s linear 0.077s;	
	position: relative;
	top: -4px;
	border-radius: 1.5px;
	z-index: 3;
	background: #fff;
	border-radius: 10px;
}
.header__present{
	margin-top: 60px;
	height: 82%;
}
.header__present > div.container{
	background: url(../img/doted.png) center top no-repeat, url(../img/linear.png) right 50px no-repeat, url(../img/doted.png) right 500px no-repeat, url(../img/linear.png) center 550px no-repeat;
	height: 100%;
	padding-bottom: 0;
	position: relative;
}
.header__strong {
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: #fff;
display: inline;
background-color: rgb(98, 137, 116);
padding: 10px 30px;
border-radius: 15px;
cursor: pointer;
}
.header__strong:hover{
	background-color: rgb(108, 132, 119);
}
.header__title {
	margin: 30px 0 50px;
	color: #fff;
	max-width: 600px;
}
.header__text {
font-size: 25px;
font-weight: 700;
color: #fff;
opacity: 0.4;
max-width: 520px;
margin-bottom: 60px;
}
.header__present__btn {
	overflow: hidden;
	width: 263px;
	height: 91px;
	display: flex;
	align-items: center;
font-size: 25px;
font-weight: 600;
padding:25px 50px;
border-radius: 27px;
background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
color: #fff;
position: relative;
}
.gradient__btn{
	inset: 0;
	z-index: 2;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(129.54deg,#fd4f45 40.03%, #ff7f54 85.57% );
	transition: opacity .2s linear;
	border-radius: 27px;
}
.hover__box:hover ~ div.gradient__btn {
	opacity: 1;
}
.btn__text{
	position: absolute;
	z-index: 3;
	/* transition: opacity 0.01s linear 0.2s; */
}
.hover__box:hover ~ p.btn__text{
	animation: opacity 0.01s linear 0.16s forwards;
}
@keyframes opacity{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.btn__text__down{
	transform: translateY(-61px);
	white-space: nowrap;
	z-index: 3;
	display: none;
}
.hover__box:hover ~ p.btn__text__down{
	animation: down__text 0.6s linear 0.16s forwards;
	display: block;
}
@keyframes down__text{
	0%{
		transform: translateY(-61px);
	}
	25%{
		transform: translateY(0px);
	}
	37%{
		transform: translateY(-25px);
	}
	40%{
		transform: translateY(-27px);
	}
	55%{
		transform: translateY(0px);
	}
	75%{
		transform: translateY(-10px);
	}
	80%{
		transform: translateY(-13px);
	}
	90%{
		transform: translateY(0px);
	}
	95%{
		transform: translateY(2px);
	}
	100%{
		transform: translateY(0);
	}
}
.hover__box{
	position: absolute;
	inset: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.header__tight__img {
	object-fit: cover;
	width: clamp(10px,55vw,880px);
	position: absolute;
	inset: auto auto 5px 40%;
	z-index: 1;
}
.header__left{
	position: relative;
	z-index: 2;
}
.header__checkbox__btn{
	position: absolute;
	display: none;
}
.header__label__open{
	display: none;
	cursor: pointer;
	transition: transform  .4s linear ;
}
.header__checkbox__btn:checked ~ ul.header__list{
	transform: translateX(0px);
	opacity: 1;
}
.header__checkbox__btn:checked ~ label.header__label__open{
	transform: rotateY(180deg);
}